extends layout

block content
  body
    div.row
      div.btn.white.darken-4.col.push-s4.push-l4
        a(href=google style="text-transform:none")
          div.left.valign-wapper
            img(width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
            |  구글로 로그인